---
	import Image from '@components/Image';
---

<div class="md:w-1/4 flex-none pr-6 flex mb-3 md:mb-0 md:flex-col z-10">
	<Image 
		src="https://ik.imagekit.io/thegoldendino/hfw/carousel/2021/honkfestwest_2021_th-52_ieqmszPrw.jpg?updatedAt=1636925468749"
		alt="Neon Brass Party - H!FW - 2021"
		width="273"
		height="182"
		className="w-1/3 md:w-full mb-0 mr-2 md:mb-2 md:mr-0"
	/>
	<Image 
		src="https://ik.imagekit.io/thegoldendino/hfw/carousel/2021/honkfestwest_2021_th-72_ptDY6mK_M.jpg?updatedAt=1636925469114"
		alt="Kouyaté Arts - H!FW - 2021"
		width="273"
		height="182"
		className="w-1/3 md:w-full h-auto mb-0 mr-2 md:mb-2 md:mr-0"
	/> 
	<Image 
		src="https://ik.imagekit.io/thegoldendino/hfw/carousel/2021/honkfestwest_2021_th-15_fgEAIXS2pi.jpg?updatedAt=1636925468773"
		alt="Filthy Fem Corps - H!FW - 2021"
		width="273"
		height="182"
		className="w-1/3 md:w-full h-auto"
	/> 
</div>
<div>
	<p>
		We had an amazing HONK! Fest West 2021. Thank you to all of our volunteers, performers, and everyone who came out to brave the beautiful fall weather! The pandemic nor the rain could keep HONK! from shaking our horns, drums and butts at it. We were blown away by the amazing energy of this year's bands and the pandemic of positivity everyone shared throughout the day.  Much love and thanks to all of you for joining us for a joyous cacophony in Columbia Park, Seattle!
	</p>
	<br/>
	<p>
		Mark your calendars for June 3-5, when we return for HONK! Fest West 2022! We will be kicking off the event in Georgetown on Friday night at 6pm, June 3rd, heading on to Columbia City on Saturday (June 4th, where rumor has it, there will be a parade!) and then on Sunday, June 5th, we will complete the HONK! weekend at Yesler Terrace Park in central Seattle.
	</p>
	<br/>
	<p>
		Want to see what our photographer, Tobin Holliday, captured for the day?
		<a class="block break-all" href="http://www.tobinholliday.com/honkfest-west">http://www.tobinholliday.com/honkfest-west</a>
	</p>
	<br/>
	<p>
		What about the enthusiastically dapper photographer, Espresso Buzz? 
		<a class="block break-all" href="https://www.espressobuzz.net/Events/2021/09-18-Honk/">https://www.espressobuzz.net/Events/2021/09-18-Honk/</a>
	</p>
	<br/>
	<p>
		And, as always, our very own Charlie Daniels has his immersive videos on YouTube for your viewing pleasure: 
		<a class="block break-all" href="https://www.youtube.com/playlist?list=PLL7ppauF4ZjoMkECEbEGaEUJqnUm36ovn">https://www.youtube.com/playlist?list=PLL7ppauF4ZjoMkECEbEGaEUJqnUm36ovn</a>
	</p>
</div>