---
import Title from '@components/Title.astro';
---
    <article class="w-full content-container col-span-6 lg:col-span-6 flex flex-col md:flex-row lg:mt-20  ">
      <div class="md:w-1/3 flex-none md:pr-6 flex mb-3 md:mb-0 flex-col z-10">
        <Image
          src="https://ik.imagekit.io/thegoldendino/hfw/posts/volunteer_eH1tKog7f.jpg?updatedAt=1640916421073"
          alt="Volunteer!"
          width="640"
          height="349"
          className="h-auto max-h-60 w-auto mx-auto"
        />
      </div>
      <div class="z-10">
        <Title title="Volunteer Coordinator" subtitle="Needed" />
        <p>
          The Volunteer Coordinator is our chief cat wrangler and fun instigator, and the source of sunshine for all our eager volunteers. Responsible for the recruitment, retention, rostering and wrangling of both year-round and event-based volunteers, the VC is the most vital link in the entire festival’s chain of awesomeness.
        </p>
        <a class="block font-base rounded antialiased text-main-color-200 font-bold flex-none mt-3 bg-accent-color w-full text-lg bg-opacity-80 px-2 hover:bg-opacity-90" href="/volunteer/committee-form?position=Volunteer%20Coordinator" >
			    » Apply Here
		    </a>
      </div>
    </article>