---
import { Image } from "astro:assets";
import Title from "@components/Title.astro";
---

<div class="flex-none sm:pr-6 mb-3 sm:mb-0 z-10 flex justify-center">
  <iframe
    title="HONK! Fest West Donation Widget"
    width="300"
    height="500"
    src="https://www.wagives.org/forms/honk-fest-west?id=ajcqcf&embed=donation_widget"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    frameborder="0"></iframe>
</div>
<div class="z-10">
  <Title title="#GivingTuesday" subtitle="2023" />
  <p>
    HONK! Festival West is once again participating in #GivingTuesday, an annual
    celebration of generosity happening on Nov. 29th, to help support our FREE
    year-round programming and FREE annual festival.
  </p>
  <br />
  <p>
    Support HONK! Festival West during #GivingTuesday and make a donation on (or
    before!) November 28th at
    <a href="https://www.wagives.org/organization/honk-fest-west">
      https://www.wagives.org/organization/honk-fest-west
    </a>. We are grateful for your support!
  </p>
  <br />
</div>
