---
import { Image } from "astro:assets";
import Title from "@components/Title.astro";
import { getEntry, render } from "astro:content";
import { data } from "alpinejs";

const { id } = Astro.props;

const post = await getEntry("posts", id);
if (!post) throw new Error("Post not found");
const { Content } = await render(post);
---

<article class="w-full content-container col-span-6 flex flex-col md:flex-row">
  <a
    href={post.data.href}
    class="md:pr-6 mb-3 md:mb-0 z-10 md:w-1/3 cursor-pointer"
  >
    <Image
      src={post.data.image_src}
      alt={post.data.title || null}
      class="h-auto mx-auto"
      inferSize
    />
  </a>
  <div class="z-10">
    <Title title={post.data.title} />
    <p class="content">
      <Content />
    </p>
    <a
      href={post.data.href}
      class="cursor-pointer text-shadow block font-base antialiased text-base sm:text-lg text-link font-bold flex-none mt-3 z-10 relative hover:scale-105 hover:left-5"
    >
      » More Info
    </a>
  </div>
</article>
