---
import { Image } from "astro:assets";
import Title from "@components/Title.astro";
---

<div class="flex-none md:pr-6 mb-3 md:mb-0 z-10">
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2023/Events/thursday-bad-jimmys-2023_Z8zW37d7q.jpg?updatedAt=1685660137371&tr=w-600"
    alt="HONK! Fest West Kickoff Opening Night"
    class="h-auto mx-auto"
    inferSize
  />
</div>
<div class="z-10">
  <Title title="Thursday Kickoff Opening Night" subtitle="June 1nd, Thursday" />
  <p>
    HONK! Fest West’s Start Up Party at Bad Jimmy’s Brewing company is tonight!
    Come shake! Come clap! Come HONK!
  </p>
  <br />
  <p>When: June 1st, at 7PM</p>
  <br />
  <p>
    Where: <a href="https://goo.gl/maps/DU3K51nfPz2QezWq5"
      >Bad Jimmy's Brewery</a
    >
  </p>
  <br />
</div>
