---
import { Image } from 'astro:assets';
import Title from '@components/Title.astro';
import futureImg from '@images/2024/honk-future-2024.png';
---

<div class="flex-none sm:pr-6 mb-3 sm:mb-0 z-10 flex justify-center">
  <a href="https://bit.ly/HONKFuture">
    <Image
      src={futureImg}
      alt="HONK! Future - Enroll Today!"
      class="h-auto mx-auto"
    />
  </a>
</div>
<div class="z-10">
  <Title title="HONK! FUTURE" subtitle="2024" />
  <p class="font-bold">April 8-12, 2024 | 9am-1pm</p>
  <ul class="content">
    <li>- Chief Sealth International High School</li>
    <li>- Students grades 5th through 12th</li>
    <li>- All Abilities!</li>
    <li>- FREE!</li>
  </ul>
  <br />
  <p>
    <a href="https://bit.ly/HONKFuture" class="">
      &gt;&gt; Enroll Today! &lt;&lt;
    </a>
  </p>
  <br />
  <p>
    HONK! Future is a HONK!-style street band formed during a five day music
    camp where students will learn and create music primarily through listening,
    singing, and movement prior to imitating on instruments.
  </p>
</div>
