@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgba(32, 41, 69, 1);
  --main-color-transparent: rgb(32, 41, 69, 0.7);
}

.content-container {
  @apply bg-main-color-300 p-3 sm:p-5 rounded overflow-hidden bg-opacity-50 border-4 border-main-color-300 border-opacity-50;
}

.content,
p {
  @apply font-base antialiased text-gray-300 leading-7 text-base text-lg flex-1;
}
.content ul {
  @apply pl-5 sm:pl-10 list-disc;
}
.content a,
p a {
  @apply text-accent-color font-bold;
}

.gradient-edge-background {
  background: linear-gradient(
    to left,
    rgba(32, 41, 69, 0),
    var(--main-color-transparent) 10%,
    var(--main-color-transparent) 90%,
    rgba(32, 41, 69, 0)
  );
}

.gradient-radial-background {
  background-image: radial-gradient(
    circle at bottom,
    rgba(32, 41, 69, 0.8),
    rgba(32, 41, 69, 0) 90%
  );
}
