---
import Title from "@components/Title.astro";
---

<div class="content-container">
  <Title title="Festival Volunteer" center={true} />
  <p class="content">
    We need all the help we can get. Please sign up below and join an amazing
    group of people that help run HONK! Fest West every year.
  </p>
  <a
    href="https://pointapp.org/orgs/3346"
    class="text-shadow block font-base font-medium text-center rounded antialiased text-gray-200 flex-none mt-3 bg-gold-900 w-full text-lg bg-opacity-80 px-2 hover:bg-opacity-90"
  >
    » SIGN UP HERE
  </a>
</div>
