---
import BackToTop from "@components/BackToTop.astro";
import Title from "@components/Title.astro";

import { getCollection } from "astro:content";

const openPositions = await getCollection("openPositions");
---

{
  openPositions.map((position) => (
    <div class="content-container">
      <BackToTop />
      <Title title={position.data.title} />
      <p class="content">{position.data.description}</p>
      <a
        href={`/volunteer/committee-form/${position.id}`}
        class="text-button-text block font-base text-center rounded antialiased font-medium flex-none mt-3 bg-button-secondary w-fit text-lg bg-opacity-80 px-2 hover:bg-opacity-90"
      >
        » APPLY
      </a>
    </div>
  ))
}
