---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="New Volunteer Form">
  <div class="content-container">
    <iframe
      title="New Volunteer Form"
      src="https://docs.google.com/forms/d/e/1FAIpQLSd1tPgsMmZoPeJ0_YWgzciH0gDoJ7A6WRLPIIwfxERPWG1lKw/viewform?embedded=true"
      width="640"
      height="1800">Loading…</iframe
    >
  </div>
</BaseLayout>
