---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="New Volunteer Form">
  <div class="content-container">
    <iframe
      title="Host Housing Questionnaire"
      src="https://docs.google.com/forms/d/e/1FAIpQLSdImCNe-tPXB2ezQBkSVnoZyvT15xkxl4ONjziT9VSwZzkuVw/viewform?embedded=true"
      width="640"
      height="3634">Loading…</iframe
    >
  </div>
</BaseLayout>
