---
import BaseLayout from '@layouts/BaseLayout.astro';
import BackToTop from '@components/BackToTop.astro';
import Title from '@components/Title.astro';
---

<BaseLayout title="2023 - Dylan Lockard">
	<section class="content-container mb-4 sm:mb-6">
		<BackToTop />
		<Title title="2023 - Dylan Lockard" />
		<div class="content">
			<ul>
				<li>
					<a href="/media/2023/dylan_lockard/day_1_-_georgetown">
						Day 1 - Georgetown
					</a>
				</li>
				<li>
					<a href="/media/2023/dylan_lockard/day_2_-_columbia_city">
						Day 2 - Columbia City
					</a>
				</li>
				<li>
					<a href="/media/2023/dylan_lockard/day_3_-_yesler_terrace">
						Day 3 - Yesler Terrace
					</a>
				</li>
			</ul>
		</div>
	</section>
</BaseLayout>
