/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Alatsi&family=Poppins:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */

  /* Teal */
  --color-teal-100: oklch(84.96% 0.0592 213.66);
  /* --color-teal-200:	
  --color-teal-300:	*/
  --color-teal-500: oklch(56.2% 0.0943 208.16);
  /* --color-teal-600: */

  --color-teal-700: oklch(50% 0.0876 213.66);
  --color-teal-800: oklch(50% 0.1 213.66);
  --color-teal-900: oklch(50% 0.0876 213.66);
  --color-teal-950: oklch(55% 0.0676 213.66);
  --color-teal-1000: oklch(40% 0.0876 213.66);

  /* Gold */
  --color-gold-100: oklch(90.14% 0.0841 86.23);
  --color-gold-200: oklch(84.11% 0.0750 86.23);
  --color-gold-300: oklch(79.63% 0.0750 86.23);
  --color-gold-400: oklch(76.39% 0.0841 86.23);
  --color-gold-500: oklch(72.15% 0.0841 86.23);
  --color-gold-600: oklch(62.16% 0.0841 86.23);
  --color-gold-700: oklch(50.00% 0.0841 86.23);
  --color-gold-800: oklch(48.18% 0.0841 86.23);
  --color-gold-900: oklch(41.18% 0.0841 86.23);

  /* Gray */
  --color-gray-100: oklch(96.08% 0 0);
  --color-gray-200: oklch(88.16% 0 0);
  --color-gray-300: oklch(80.24% 0 0);
  --color-gray-400: oklch(72.32% 0 0);
  --color-gray-500: oklch(64.4% 0 0);
  --color-gray-600: oklch(56.48% 0 0);
  --color-gray-700: oklch(48.56% 0 0);
  --color-gray-800: oklch(40.64% 0 0);
  --color-gray-900: oklch(32.72% 0 0);

  /* Backgrounds */
  --color-site-background: var(--color-gold-300);
  --color-main-background: var(--color-teal-700);


  /* Text Color */
  --color-title: var(--color-gold-700);
  --color-subtitle: var(--color-teal-700);
  --color-title-border: var(--color-gold-600);
  --color-content-text: var(--color-gold-800);
  --color-link: var(--color-teal-800);
  --color-content-link: var(--color-teal-800);
  --color-title-shadow: var(--color-gold-100);

  /* Fonts */
  --font-title: 'Fredoka', serif;
  --font-base: 'Fredoka', serif;

  /* Nav Button */
  --color-button-background: var(--color-teal-500);
  --color-button-active: var(--color-teal-1000);
  --color-button-shadow: var(--color-teal-1000);
  --color-button-ring: var(--color-gray-300);
  --color-button-text: var(--color-gray-200);
  --color-button-text-active: var(--color-gray-200);

  /* Content */
  --color-content-background: var(--color-gold-200);
  --color-content-border: var(--color-gray-300);

  --color-location-shadow: var(--color-gold-500);

  --color-accent: var(--color-teal-500);
  --color-tertiary: var(--color-teal-700);

  --color-paypal: rgb(0, 48, 135);
}

@utility content-container {
  @apply bg-radial-[at_50%_40%] from-content-background from-60% to-gold-500 p-3 sm:p-5 overflow-hidden relative shadow-lg rounded-lg border-1 border-content-border;
}

@utility title {
  @apply flex flex-wrap text-2xl sm:text-3xl font-title border-title-border mb-6 mt-1 pb-1 font-medium;
  text-shadow: -1px -1px 3px var(--color-title-shadow),
    1px -1px 3px var(--color-title-shadow), -1px 1px 3px var(--color-title-shadow),
    1px 1px 3px var(--color-title-shadow);
}

@utility layout-gap {
  @apply gap-4 sm:gap-10
}



.content {
  @apply font-base antialiased text-content-text leading-8 text-xl flex-1;
}

.content ul {
  @apply pl-5 sm:pl-10 list-disc;
}

.content a,
p a {
  @apply text-content-link underline underline-offset-2;
}

.content strong {
  @apply font-semibold;
}


.text-shadow {
  text-shadow: -1px -1px 3px var(--color-text-shadow),
    1px -1px 3px var(--color-text-shadow), -1px 1px 3px var(--color-text-shadow),
    1px 1px 3px var(--color-text-shadow);
}