---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const slides = await getCollection("slideshow");
---

<div
  id="slideshow"
  class="relative w-full overflow-hidden aspect-17/8"
  x-data="{ current: 0 }"
  x-init="setInterval(() => { current = (current + 1) % $el.querySelectorAll('.slide').length }, 4000)"
>
  {
    slides.map((slide, index) => (
      <div
        class="absolute top-0 left-0 w-full h-full"
        data-index={index}
        x-show="current === parseInt($el.dataset.index)"
        x-transition.opacity
      >
        <Image
          src={slide.data.image_url}
          alt={slide.data.description}
          inferSize
          class="object-cover w-full h-full"
        />
      </div>
    ))
  }
</div>
