---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const slides = await getCollection("slideshow");
---

<div
  id="slideshow"
  class="relative w-full overflow-hidden aspect-17/8"
  x-data="{ current: 0 }"
  x-init="setInterval(() => { current = (current + 1) % $el.querySelectorAll('.slide').length }, 4000)"
>
  {
    slides.map((slide, index) => (
      <div
        class="slide absolute top-0 left-0 w-full h-full transition-opacity duration-500 ease-in-out"
        x-cloak
        data-index={index}
        :class="current === parseInt($el.dataset.index) ? 'opacity-100 z-10' : 'opacity-0 z-0'"
      >
        <Image
          src={slide.data.image_url}
          alt={slide.data.description}
          inferSize
          class="object-cover w-full h-full"
        />
      </div>
    ))
  }
</div>

<style>
  [x-cloak] {
    display: none;
  }
</style>
