---
	import { Markdown } from 'astro/components'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '$components/Title.astro'
---

<FestivalLayout title="Covid Plan" active="covid">
	<Title title="Covid Plan" id="covid" />
	<div class="content">
		<Markdown>
			_Comming soon_
		</Markdown>
	</div>
</FestivalLayout>