---
	import { Markdown } from 'astro/components'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '$components/Title.astro'
---

<FestivalLayout title="Covid Plan" active="covid">
	<div class="content-container mb-4 sm:mb-6" id="covid">
		<Title title="Covid-19 Supervisor"/>
		<div class="content">
			<Markdown>
				### **Name:** Grace Jones
				### **Phone:** 617-549-9882
				### **On-site contact info:** Info Booth (identifiable by distinctive vest) and on communication radios
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Crowd Management"/>
		<div class="content">
			<Markdown>
				### **Entry/exit plan**
				- On south end of park (S Edmunds St) there are two park paths entering the park. On the north end of the park (S Alaska St) there is a similar scenario. We will have one path be an entry flow point and one path an exit flow path. Each will be designated with appropriate signage to encourage funneling to the correct entry and exit point.
				- Two volunteers will be designated at the entry and exit points on each end of the park to monitor flow and encourage compliance with covid precautions per posted event signage.
				
				<br/>
				### **Queuing & Line Management**
				- Our event is not ticketed and does not by nature form a queue to get into the event.
				- In the rare event that there is a queue, we will have someone from our operations staff on-call to watch the line and remind people to always keep 6 feet distance and stay to one side of the sidewalk in a single file so as to leave space open for the traveling public.
				- Signage will be posted at the entrance and exits, portable toilets, and info/merch booth to remind people to keep physically distant while waiting in any line.
				- Lines for restrooms will be marked to ensure 6 feet a distance between each person waiting in line.

				<br/>
				### **Crowd Flow**
				- We will have designated operations staff doing walk throughs of the event grounds every 10 to 15 minutes to ensure compliance with our COVID-19 plan.
				- Aisles will be drawn into the walking paths using chalk with arrows designating walking direction to manage crowd flow around the park.
				- For audience viewing areas:
				  - There will be designated setbacks from the walking path from the audience areas of 6 feet.
				- Bands will have a designated set back from audience viewing areas which they must perform within.
				- Operations staff will be moving throughout the festival to encourage compliance with festival-based guidelines.

				<br/>
				### **Programmed Areas (vendors, booths, etc)**
				- The HONK! Fest West Merch booth will be the only merchandise sold on site. There will be no other vendors permitted at the festival.
				- The HONK! Fest West merch booth will utilize cashless payment systems (QR Codes, Venmo, Paypal, credit cards) and use touchless payment system as much as possible to speed up transaction time.
				- Donations will be accepted via all of the above systems.
				- We will minimize merchandise at the merch station.
				- Purchase links for merch will be posted via a QR code.
        - To minimize info booth transactions, a QR Code posted at the info booth will also have maps, schedule, and donation links.
				- Signage will be posted at the merch and info booth to remind people to keep distant while queuing and while speaking with anyone at the booth.
				- A line will be designated on the ground with flags and orange taping in front of the info and merch booths to designate the appropriate distance from the merch and info staff.
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Sanitation"/>
		<div class="content">
			<Markdown>
				### **Hygiene**
				- Train volunteers on proper hygiene protocols per established CDC Guidance:
					- Wash hands often with soap and water for at least 20 seconds. When soap and water aren’t readily available, use alcohol-based sanitizer.
					- Practice proper respiratory etiquette, including covering cover coughs and sneezes with a tissue. Used tissues should be thrown in the trash and hands washed immediately with soap and water for at least 20 seconds. If soap and water are not readily available, hand sanitizer that contains at least 60% alcohol can be used; rub hands together until dry.
				-	Alcohol-based hand sanitizer will be provided at all volunteer work stations. For “roaming” volunteers, festival will provide portable/pocket hand sanitizer bottles or packets.
				- Hand-washing station will be provided at portable restroom. Bathroom with running water will be provided for event volunteers inside the Rainier Arts Center. Handwashing stations and bathrooms will have soap; fresh water; and single-use towels.
				- Sanitation stations with alcohol-based hand sanitizer will be provided:
					- One at the north entry and one at the south entry to the park
					- Sanitizers will be provided in both portable restrooms
					- Hand Sanitizer will be provided at the info booth
					- A sanitation station will be provided at the entry to Green Room in the Rainier Arts Center.

				<br/>
				### **Cleaning & Disinfection**
				- High touch surfaces will be regularly cleaned and disinfected by operations staff with approved cleaning products and disinfectant, suitable for each type of surface.
					- Portable toilet handles: wiped down with a disinfecting wipe every hour
					- Credit Card machine, dongle, and card reader: 70% isopropyl alcohol spray between each guest use
					- Donation buckets: handles cleaned and disinfected between each volunteer shift
					- Info and Merch tables: wiped down each shift change (every 2 hours)
				- Products for disinfection:
					- EPA Registered to kill COVID-19 per https://cfpub.epa.gov/wizards/disinfectants/

				<br/>
				### **Sanitation Schedule and Staffing Plan**
				- Schedule and instructions will be posted at all areas where disinfection will be performed regularly and Covid supervisor will check in to ensure proper sanitation protocol is being followed.
				- Merch and Info booth volunteers will be responsible for cleaning and disinfecting of their stations each hour and per the schedule above depending on the type of equipment or surface.
				- Two of the Operations staff will be sanitizing and disinfecting on a rotating schedule throughout the entirety of the event.
				- Operations staff, merch staff, and info booth staff will be trained pre-event on proper sanitation and disinfection.
				- All volunteers will be sent guidance on covid protocols and personal hygiene protocols prior to festival.
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Personal Protective Equipment (PPE)"/>
		<div class="content">
			<Markdown>
				### **Masks**
				- Require that volunteers, performers, and attendees wear well-fitting masks that fit completely over their nose and mouth.
				- Instruments that move a significant volume of air will be required to use an instrument bell cover. Winds and brass players will also be required to wear a special mask with a pillow slit (overlapping opening) for the mouthpiece while playing.
				- Encourage attendees ahead of the event to bring and use masks at the event via FB event and event posters and other communication tools (newsletter, Instagram).
				- Disposable masks will be provided at the info booth to provide to attendees and volunteers who do not bring their own. 
				- A reserve of specialty masks for performers will be provided by HONK! Fest West to performers who do not bring their own.
				- Exemptions to mask mandates will be posted for awareness of volunteers and attendees:
					- A child under the age of 2 years.
					- A person with a disability who cannot wear a mask, or cannot safely wear a mask, for reasons related to the disability.
				- Mask rules will be posted at festival entrances via signage in multiple languages.
				- Mask compliance will be monitored, and compliance encouraged by our roaming operations staff throughout the festival.
				
				<br/>
				### **Disposable Gloves**
				- Disposable gloves will be provided for volunteers and operations staff who are handling money, cleaning and disinfecting, or interacting with high touch surfaces as part of their volunteer shift.
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Health Screening"/>
		<div class="content">
			<Markdown>
				- All volunteers must self-screen prior to showing up to work at festival. Self-screening will include checking for fever and COVID-19 symptoms. Volunteers must fill out the COVID-19 screening form emailed by Volunteer Coordinator 1 day before the festival.
				- Festival attendees will be encouraged to self-screen prior to attending and also will be physically screened on their way into the festival grounds. Signage will be posted at entrances with list of symptoms for self-screening and must be able to verbally attest to protocols prior to entering festival.
				- Designated volunteer – COVID safety monitor – will check volunteers upon arrival to ensure they have self-screened, submitted their screening form, and can attest to their health.
			</Markdown>	
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Communication Plan"/>
		<div class="content">
			<Markdown>
				Please provide your health safety communications plan and describe how you will communicate this plan pre-event, during the event and post-event for each of the following constituencies:

				<br/>
				_This plan will be available at the Info Booth in the Festival Binder at all times for anyone to view._

				<br/>
				### **Staff, Volunteers, Performers**
				#### _Pre-event:_
				- Performers will be provided with the current guidance on bell covers and masks 1 month before the festival and again 1 week pre-festival via email.
				- Volunteers will be provided with all guidance set forth in this plan when they receive their shift confirmation.
				- Operations volunteers will have training sessions within the week pre-festival to go over cleaning and disinfection processes.
				- All Committee Members and long-term volunteers will be trained on all aspects of the COVID-19 Health Action & Management Plan in the month leading up to the event.
				- All Volunteers and performers will be educated about when they should stay home; if they have tested positive for COVID-19, are waiting for COVID-19 test results, have COVID-19 symptoms, or if they have had close contact with a person who has tested positive for or who has symptoms of COVID-19.
				#### _During event:_
				- Performers will receive guidance document in their band packet upon arrival at the festival. Band leads will be required to go over these guidelines with their bands in their band meetings upon arrival.
				- Signage will be posted in the ‘Green Room’ location that promote everyday protective measures and describe how to stop the spread of germs by properly washing hands and properly wearing a mask .
				- Volunteers will be trained on appropriate protocols upon arrival at their first shift by the Volunteer Team Lead on shift.
				- Operations volunteers will be reminded of proper cleaning and disinfection upon arrival at their shift by the Operations Lead.
				- All volunteers (Operations, daily volunteers, and Committee Members) will be refreshed on protocols for what to do when they encounter a sick volunteer or guest.
				- All Volunteers and performers will be discouraged from greeting others with physical contact  (for example, handshakes). Include this reminder on signs about physical distancing.
				- A sign in sheet for the green room will be used to track who enters the green room throughout the day.
				#### _Post-event:_
				- All volunteers (Operations, Daily Volunteers, Committee) will be sent a questionnaire post event to assess health. If any volunteer is determined to have sickness, they will be encouraged to go get a COVID-19 test. If there is a positive test reported all volunteers will be notified.

				<br/>
				### **Participants, Guests, Attendees, Spectators**
				#### _Pre-event:_
				- We will post PSA’s from King County’s COVID-19 resources page, code of conduct for the festival (mask guidelines, social distancing guidelines discouraged behaviors) pre-event on our Social Media Channels and website and also send out a pre-event newsletter with all of the event specific guidance.
				- Request attendees to take their temperature before attending. Any individual with a temperature of 100.4°F will not be permitted to attend.
				- Inform attendees that any individual with a household member who has been diagnosed with COVID-19 or with symptoms of COVID-19 (including a fever above 100.4°F) may not attend.
				#### _During event:_
				- Signs will be posted in highly visible locations (e.g., at festival entrances and exits, at restrooms, at info/merch booths, in green room) that promote everyday protective measures and describe how to stop the spread of germs by properly washing hands and properly wearing a mask .
				- Volunteers will be greeting festival attendees at entrances and also roaming festival grounds encouraging compliance verbally and by modeling good behavior to attendees.
				#### _Post-event:_
				- An anonymous survey will be sent out in our post-event newsletter that includes a question regarding COVID-19 symptoms or a positive test result. Participants will be encouraged to self-report any positive COVID-19 test results via this survey. If any positives are reported to us via the newsletter or other methods, we will contact all participants who we have record of attending our event via our Facebook event page and via credit card/Paypal/Venmo records.
			</Markdown>	
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Additional Considerations"/>
		<div class="content">
			<Markdown>
				### **Green Room**
				All performers and volunteers entering the green room inside the Rainier Arts Center will be given 20-minute  timeslots inside. Physical distancing and masks will be required inside. A volunteer will be present to ensure compliance with festival-based guidelines. 

				<br/>
				### **Rainier Arts Center Entry**
				Green Room will be in lower level of Rainier Art Center. Health screening will be required at the door to the Rainier Arts Center. We will follow all venue protocols for indoor venues. Masks will be required for all attendees and participants at all times while inside the building.
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Addendum: Guidelines for Participants"/>
		<div class="content">
			<Markdown>
				### **Bell Covers and PPE for Brass and Wind Instruments**
				- Instruments which push and/or project a significant amount of wind – trombones, sousas, tubas, trumpets, clarinets, saxes, baritones, euphoniums, etc. – will be required to use bell covers or bell masks. 
				- Instruments not required to use bell covers include French horns and flutes.
				- A study from Stockman et al showed a 50% reduction in aerosol emissions using a surgical mask bell cover and that keyholes did not significantly contribute to emissions; therefore we will not require full coverings (or protective bags) for instruments with keyholes (ie flutes, saxes, clarinets).  
				- Please note: Utilizing only a stretchy material such as spandex is not sufficient. As the material stretches to fit over the bell, aerosols can more easily pass through the holes in the material. 
				- Bands can purchase custom bell covers or make their own (see notes on reimbursement below).  
				- Bell cover and PPE recommendations: 
					- Trombones and Bari Sax bell covers: https://www.kennellykeysmusic.com/products/protec-a325-bell-cover-7-8-75-trombone-bari-sax/
					- Trumpets and Alto Saxes bell covers: https://www.kennellykeysmusic.com/products/protec-a321-bell-cover-3-75-5-trumpet-alto-sax/
					- Clarinet/oboe cover, Tuba, Sousa, Euphonium and other covers can be found here: https://www.westmusic.com/playitsafe/
					- Also see: https://www.gatorcases.com/gbellcvr-series-bell-cover/

				<br/>
				### **Masks**
				- All performers will be required to wear masks during their performance. This includes masks with openings for mouthpieces for woodwinds and brass and standard masks for all other performers/musicians.
				- Fully-sealed face masks will be required in the green room and all indoor spaces. 
				- Recommendations for purchase or for what you can make for masks with openings while playing:
					-	Flute Masks: https://www.tedbrownmusic.com/product/204450/marchmaster-flute-black-performance-mask
					- Face Masks for Woodwinds and Brass: https://www.tedbrownmusic.com/product/204440/protec-musicians-face-mask-for-brass-and-woodwind-instruments
						- Or https://www.hickeys.com/music/accessories/face_masks_and_ppe/products/sku129263-marchmasterface-mask-for-windbrass-playersadultblack.php
						- Or https://www.westmusic.com/band-orchestra/woodwind-instrument-accessories/gator-band-performance-mask-large-453582

				<br/>
				### **Green Rooms**
				-	A green room will be provided inside the Rainier Arts Center on the lower level.
				- Performers and volunteers only in the green room.
				- All performers who wish to use the green room will need to be fully vaccinated. Those individuals unable to be fully vaccinated, including children under 12, must have proof of a negative Covid PCR test (taken within 48 hours of festival). Provide proof of either vaccination or PCR test to your designated band contact. 
				- Band contact will be responsible for verifying vaccination status or testing info per the guidance in the definitions section below. Band contact must provide this final list of names for the Green Room to event@honkfestwest.org by 7pm on September 17th. All information will be kept confidential. 
				- All performers who are cleared to use the green room will be provided with a wristband on the day of the festival. Information about wristband pickup at the festival will be included in your band packet.
				- You must wear your mask at all times while inside the green room. There are no exceptions.
				- No food is to be consumed in the green room. We will have beverages provided in the green room, but please reserve their consumption until you are out of the enclosed space. 
				- Limit your time in the green room to 20 minutes or less.

				<br/>
				### **Performance Guidelines**
				- Performance areas will be separated from audiences, unlike a traditional HONK. There will be a visible barrier at the “stage” areas, and bands need to stay behind this boundary (and the audience will be instructed to do the same). We understand that this will change the dynamic of the performance for some bands, but we need to take safety into the highest consideration for this festival to occur.
				- Bands may still march into their performance from offstage and through the crowd, but may ONLY move through the crowd without stopping until the designated stage area is reached.
			</Markdown>
		</div>
	</div>

	<div class="content-container mb-4 sm:mb-6">
		<Title title="Definitions"/>
		<div class="content">
			<Markdown>
				### **FULLY-VACCINATED PERFORMERS**
				A patron vaccinated against COVID-19 by a two-dose mRNA vaccine (such as Moderna and Pfizer), or a single dose vaccine (such as Johnson & Johnson), is considered “fully vaccinated” two weeks after the final dose of vaccine (the second dose for a two-dose regimen, or the single dose for a single-dose regimen). Documentation of vaccination status must be shown with valid I.D.* upon entry to the venue and available upon request at any time.

				<br/>
				#### **The following are acceptable as proof of full vaccination to your band leader:** 
				- Vaccination card (which includes name of person vaccinated, type of vaccine provided and date last dose administered) OR
				- a photo of a vaccination card as a separate document OR
				- a photo of the attendee’s vaccine card stored on a phone or electronic device OR
				- documentation of vaccination from a healthcare provider electronic health record or state Immunization Information System record.
				- Matching photo ID* required at the door for entry

				_Self-reported vaccination records that are not verified by a health care provider cannot be accepted._

				<br/>
				### **UNVACCINATED PERFORMERS AND VOLUNTEERS**
				#### **The following are acceptable as proof of a negative COVID-19 test result:**
				- Printed document (from the test provider or laboratory) OR
				- an email or text message displayed on a phone or electronic device from the test provider or laboratory.
				- The information provided should include name of person tested, type of test performed, and date of negative test result (date of negative PCR test result must be within prior 48 hours).
				- Matching photo ID* required at the door

				_Antigen tests cannot be accepted. Self-reported negative test results that are not from a test provider, a laboratory, or a health care provider cannot be accepted._

			</Markdown>
		</div>
	</div>
</FestivalLayout>