---
import { Image } from "@astrojs/image/components";

import BaseLayout from "@layouts/BaseLayout.astro";
import Title from "@components/Title.astro";
import BackToTop from "@components/BackToTop.astro";
---

<BaseLayout title="2024 - Festival">
  <section class="content-container text-center">
    <p class="text-5xl font-bold mt-4">Festival . 2024</p>
    <p class="text-3xl font-bold mt-10 mb-4">More info coming soon</p>
  </section>
</BaseLayout>
