---
	import { Markdown } from 'astro/components'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '$components/Title.astro'
---

<FestivalLayout title="Map" active="map">
	<div class="content-container">
		<Title title="Festival Map" id="map" />
		<div class="content">
			<Markdown>
				_Coming soon_
			</Markdown>
		</div>
	</div>
</FestivalLayout>