---
	import Image from '@components/Image.astro'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '@components/Title.astro'

	const locations = [
			'Rainier Arts Center (Green Room)',
			'Party Pigeon Stage',
			'Sassy Sousa Stage',
			'Info & Merch',
			'Restrooms & Handwashing Station'
	]
---


<FestivalLayout title="Map" active="map">
	<div class="content-container">
		<Title title="Festival Map" id="map" />
		<div class="flex justify-center flex-wrap sm:flex-nowrap">
			<a class="block border-2 border-accent-color sm:flex-none" href="https://ik.imagekit.io/thegoldendino/hfw/festival/2021/hfw-2021-map-w-legend_UDCy4d3KmeC.png?updatedAt=1631950208884">
				<Image 
					src="https://ik.imagekit.io/thegoldendino/hfw/festival/2021/hfw-2021-map_--o6vlZfk.png?updatedAt=1631945679118"
					width="800"
					height="1168"
					className="sm:max-h-96 sm:w-auto"
					/>
			</a>
			<ol class="content flex flex-wrap p-5">
				{locations.map((location, i) => (
					<li class="text-white w-1/2 sm:w-full xl:w-1/2 mb-5 sm:text-right pr-5 sm:pr-0">
						<span class="text-accent-color font-bold mr-2 text-2xl">{i + 1}</span> <span class="opacity-80">{location}</span>	
					</li>
				))}
			</ol>
		</div>
	</div>
</FestivalLayout>