---
	import { Markdown } from 'astro/components'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '$components/Title.astro'
---

<FestivalLayout title="Map" active="map">
	<Title title="Festival Map" id="map" />
	<div class="content">
		<Markdown>
			_Comming soon_
		</Markdown>
	</div>
</FestivalLayout>