---
import OpenGraph from './OpenGraph.astro';
import NetlifyIdentity from './NetlifyIdentity.astro';
import '@styles/site.css';

const { title = '' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content="HONK! Fest West is an accessible community music festival driven by the energetic performances of street bands in public spaces."
/>

<OpenGraph />
<NetlifyIdentity />

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<title>{title}</title>

<slot />
