---
import BaseLayout from '@layouts/BaseLayout.astro'
import PostBlurb from '$components/PostBlurb.astro'
import LinkBlurb from '$components/LinkBlurb.astro'
import Slideshow from '../components/Slideshow/Slideshow.jsx'

const posts = Astro.fetchContent('@pages/post/*.md').sort((b,a) => ((a.order || 999) - (b.order || 999)));
import slides from '@data/slideshow.json';
---

<BaseLayout title="Home">
  <div class="grid grid-cols-1 sm:grid-cols-6 gap-3 sm:gap-6 w-full">

    <!-- INFO BLOCK -->
    <div itemscope itemtype="https://schema.org/Event" class="sm:col-span-3 content-container" >
      <div class="flex flex-col justify-center items-center h-full text-3xl sm:text-4xl font-emphasis font-medium tracking-wide">
        <span class="block text-title-primary-color mb-1 text-center hidden md:block" itemprop="name">
          HONK! FEST WEST
        </span>
        <span class="block text-accent-color sm:mb-2 tracking-normal text-center">
          SAVE THE DATE » <time itemprop="startDate" class="underline" content="2021-09-18">SEPTEMBER 18TH, 2021</time>
        </span>
        <span class="block text-title-primary-color text-center hidden md:block" itemprop="location">
          COLUMBIA CITY, SEATTLE, WA
        </span>
      </div>
    </div>

    <!-- NEWSLETTER BLOCK -->
    <div class="sm:col-span-3 content-container">
      <div class="flex flex-col items-center h-full justify-center text-3xl sm:text-4xl font-emphasis font-medium">
        <span class="block text-title-primary-color mb-1 tracking-wide">
          NEWSLETTER
        </span>
        <form 
          action="https://honkfestwest.us4.list-manage.com/subscribe/post?u=ef3f62323075a304e4a1428e3&amp;id=b6e69bd855" 
          method="post" 
          id="mc-embedded-subscribe-form" 
          name="mc-embedded-subscribe-form" 
          class="w-full p-0 m-0" 
          target="_blank" 
          novalidate="">

          <div id="mc_embed_signup_scroll" class="flex flex-col justify-center items-center w-full">
            <div class="hidden md:flex w-full mb-2 justify-center items-center">
              <label class="text-gray-500 mr-2 mb-0 block text-center" for="mce-EMAIL">
                EMAIL
              </label>
              <input type="email" value="" name="EMAIL" class="bg-white bg-opacity-60 block w-full font-base text-lg px-2 py-1" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="hidden" id="mce-error-response"></div>
              <div class="hidden" id="mce-success-response"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input type="text" name="b_ef3f62323075a304e4a1428e3_b6e69bd855" tabindex="-1" value="">
            </div>

            <input 
              type="submit" 
              value="Subscribe" 
              name="subscribe" 
              id="mc-embedded-subscribe" 
              class="border-2 border-gray-400 text-gray-600 rounded font-base text-base sm:text-lg px-2 py-1">
          </div>
        </form>
      </div>
    </div>

    <!-- POST BLURBS -->
    {posts.map((post) => (
      <article class="sm:col-span-6 content-container">
        <PostBlurb post={post}/>
      </article>
    ))}

    <!-- LINK BLURBS -->
    <div class="sm:col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="About" href="/about">
        HONK! Fest West is an accessible community music festival 
        driven by the energetic performances of street bands in public spaces.
      </LinkBlurb>
    </div>
    <div class="sm:col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="Volunteer" href="/volunteer">
        If you want to volunteer, and help make HONK! Fest West magic, please 
        <a class="text-accent-color font-bold" href="https://docs.google.com/forms/d/e/1FAIpQLSe78LKnwYFWr8yw2faj7vuslfeUfC9kgvy9ssm_DT_30i4zFA/viewform">
          APPLY HERE
        </a>
        and Thank You!!
      </LinkBlurb>
    </div>
    <div class="sm:col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="Donate" href="/donate">
        Your contributions help make this event possible. 
        Through the generous efforts of our shared community, 
        we’ll keep bringing music to the streets and parks of Seattle’s neighborhoods.
      </LinkBlurb>
    </div>

    <!-- SLIDESHOW -->
    <div class="sm:col-span-6 content-container">
      <Slideshow slides={slides} client:visible  />
    </div>

    <!-- SUPPORT DUAMISH  -->
    <div class="sm:col-span-6 content-container">
      <p class="content font-base text-gray-700 italic">
        H!FW acknowledges that we are on the traditional land of the first people of Seattle
        — the Duwamish People past and present — and honor with gratitude the land itself,
        the Duwamish Tribe, and the Coast Salish people.
      </p>
      <br/>
      <a class="font-base link text-accent-color font-bold text-base sm:text-lg" href="https://www.duwamishtribe.org/donate">
        » Please support the Duwamish Tribe
      </a>
    </div>

  </div>
</BaseLayout>

