---
import { Image } from '@astrojs/image/components';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostBlurb from '@components/post-blurb/PostBlurb.astro';
import LinkBlurb from '@components/LinkBlurb.astro';
import GivingTuesday from '@components/home/GivingTuesday.astro';

import Title from '@components/Title.astro';
import NewsletterForm from '@components/NewsletterForm.astro';
import Slideshow from '../components/slideshow/Slideshow.svelte';
import BackToTop from '@components/BackToTop.astro';
import { slides } from '@lib/notion';
import FestivalInfoBlock from '@components/home/FestivalInfoBlock.astro';

let posts = [];

const posts_length = posts.length;
const postColumns = (index) => {
  if (posts_length % 3 === 1 && index > posts_length - 2) {
    return { span: 'md:col-span-6', cols: 3 };
  } else if (posts_length % 3 === 2 && index > posts_length - 3) {
    return { span: 'md:col-span-3', cols: 2 };
  } else {
    return { span: 'md:col-span-2', cols: 1 };
  }
};
---

<BaseLayout title="Home">
  <div class="grid grid-cols-1 sm:grid-cols-6 gap-4 sm:gap-6 w-full lg:mt-6">
    <FestivalInfoBlock />

    <section
      class="col-span-6 lg:col-span-4 row-span-2 flex justify-center rounded-full w-full relative"
    >
      <Image
        src="https://ik.imagekit.io/thegoldendino/hfw/2023/android-group_BIvVp6J2w.png?ik-sdk-version=javascript-1.4.3&updatedAt=1668315813976"
        alt="Let Us Transform"
        class="lg:absolute lg:-top-8"
        aspectRatio="800:513"
        width="700"
        format="png"
      />
    </section>

    <!-- NEWSLETTER BLOCK -->
    <section class="w-full col-span-6 lg:col-span-2 content-container">
      <NewsletterForm />
    </section>

    <!-- <article
      class="w-full content-container col-span-6 flex flex-col md:flex-row"
    >
      <BackToTop />
    </article> -->

    <!-- POST BLURBS -->
    {
      posts.map((post, index) => (
        <article
          class={`w-full content-container sm:col-span-6 ${
            postColumns(index).span
          }`}
        >
          <PostBlurb post={post} cols={postColumns(index).cols} />
        </article>
      ))
    }

    <section class="col-span-6 content-container sm:flex">
      <GivingTuesday />
    </section>

    <!-- LINK BLURBS -->
    <section class="col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="About" href="/about">
        HONK! Fest West is an accessible community music festival driven by the
        energetic performances of street bands in public spaces.
      </LinkBlurb>
    </section>
    <section class="col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="Volunteer" href="/volunteer">
        If you want to volunteer, and help make HONK! Fest West magic, please
        <a class="font-bold inline-block hover:scale-105" href="/volunteer">
          APPLY HERE</a
        >
        and Thank You!!
      </LinkBlurb>
    </section>
    <section class="col-span-6 md:col-span-2 content-container">
      <LinkBlurb title="Donate" href="/donate">
        Your contributions help make this event possible. Through the generous
        efforts of our shared community, we’ll keep bringing music to the
        streets and parks of Seattle’s neighborhoods.
      </LinkBlurb>
    </section>

    <!-- SLIDESHOW -->
    <div class="col-span-6 content-container">
      <Slideshow slides={slides} client:idle />
    </div>

    <!-- SUPPORT DUAMISH  -->
    <div class="col-span-6 content-container">
      <BackToTop />
      <p class="content font-base italic">
        H!FW acknowledges that we are on the traditional land of the first
        people of Seattle — the Duwamish People past and present — and honor
        with gratitude the land itself, the Duwamish Tribe, and the Coast Salish
        people.
      </p>
      <br />
      <a
        class="text-shadow block ease-in font-base link text-pink-lt font-bold text-base sm:text-lg relative hover:scale-105 hover:left-6"
        href="https://www.duwamishtribe.org/donate"
      >
        » Please support the Duwamish Tribe
      </a>
    </div>
  </div>
</BaseLayout>
