---
import { Image } from '@astrojs/image/components';
import Title from '@components/Title.astro';
---

<div
  class="md:w-1/3 flex-none md:pr-6 grid grid-cols-2 gap-6 mb-3 md:mb-0 z-10"
>
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2022/bonfire-merch/w-sf-tee_M8LoplcrPt.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650777265502"
    alt="Women's Tee"
    aspectRatio="1:1"
    width="175"
    class="h-auto mx-auto"
    format="jpeg"
  />
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2022/bonfire-merch/hoodie_SeVGLGU0P.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650777265358"
    alt="Hoodie"
    aspectRatio="1:1"
    width="175"
    class="h-auto mx-auto"
    format="jpeg"
  />
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2022/bonfire-merch/sweatshirt_wQDzFBnhe.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650777265376"
    alt="Sweatshirt"
    aspectRatio="1:1"
    width="175"
    class="h-auto mx-auto"
    format="jpeg"
  />
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2022/bonfire-merch/unisex-tank_6K0RGsM-c.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650777265418"
    alt="Unisex Tank"
    aspectRatio="1:1"
    width="175"
    class="h-auto mx-auto"
    format="jpeg"
  />
</div>
<div class="z-10">
  <Title title="The 2022 Merch" subtitle="Shop is Open" />
  <p>
    This year, for our 14th annual festival, we could use your help in bringing
    back FREE music to the streets and parks of Seattle! Buy your t-shirt,
    hoodie, kids shirt, or tank today.
  </p>
  <br />
  <p>
    These offerings are outside of the scope of our traditional festival merch
    (WHAT!? Is that a HOODIE?!) so grab yours today! The year of the Golden Dino
    is upon us!
  </p>
  <br />
  <p></p>

  <a
    class="block font-base rounded antialiased text-main-color-200 font-bold flex-none mt-3 bg-accent-color w-full text-lg bg-opacity-80 px-2 hover:bg-opacity-90"
    href="https://www.bonfire.com/honk-fest-west-1/"
  >
    » Online Internet Storefront
  </a>
</div>
