---
import { Image } from '@astrojs/image/components';
---

<a
  class="md:w-1/3 flex-none md:pr-6 flex mb-3 md:mb-0 flex-col z-10 block hover:scale-105"
  href="https://www.wagives.org/organization/honk-fest-west/"
>
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/givebig_AxdkXr2m7.webp?updatedAt=1682358102945"
    alt="GiveBIG 2023"
    width="300"
    height="300"
    aspectRatio="1:1"
    class="h-auto w-auto mx-auto"
    format="png"
  />
</a>
<div class="z-10">
  <p>
    It’s that time of year again, GiveBIG 2023 is upon us! GiveBIG is a
    statewide movement of generosity where we come together as a region to
    invest in our community. Early giving has already begun and culminates on
    May 3rd and 4th with a huge blow-out 48-hour giving event! GIVE your
    tax-deductible donation here today, and invest in the future of HONK! Fest
    West:
    <a href="https://www.wagives.org/organization/honk-fest-west/"
      >www.wagives.org/organization/honk-fest-west/</a
    >
  </p>
  <br />
  <p>
    Your gift today will fuel our efforts to bring back HONK! Fest West 2023
    like a phoenix rising from the ashes of our masked slumber. This is not
    possible without your support. So help us reach our goal and show some love
    for HONK! Fest West! 100% of your contribution goes toward the cost of
    putting on the festival, plus music education and programming throughout the
    year.
  </p>
  <a
    class="text-shadow block font-base antialiased text-base sm:text-lg text-pink-lt font-bold flex-none mt-3 z-10 relative hover:scale-105 hover:left-4"
    href="https://www.wagives.org/organization/honk-fest-west/"
  >
    » GiveBIG & Thank You!
  </a>
</div>
