---
import { Image } from '@astrojs/image/components';
import Title from '@components/Title.astro';
---

<div class="flex-none sm:pr-6 mb-3 sm:mb-0 z-10 flex justify-center">
  <iframe
    title="HONK! Fest West Donation Widget"
    width="300"
    height="500"
    src="https://www.wagives.org/forms/honk-fest-west?id=ajcqcf&embed=donation_widget"
    scrolling="no"
    marginHeight="0"
    marginWidth="0"
    frameBorder="0"></iframe>
</div>
<div class="z-10">
  <Title title="#GivingTuesday" subtitle="2022" />
  <p>
    HONK! Festival West is once again participating in #GivingTuesday, an annual
    celebration of generosity happening on Nov. 29th, to help support our FREE
    year-round programming and FREE annual festival.
  </p>
  <br />
  <p>
    What, say you, do we do year-round? We have the HONK! All-Stars Band and
    monthly jam nights, open to anyone at any skill level! (Email
    <a href="mailto:outreach@honkfestwest.org">outreach@honkfestwest.org</a>
    to get involved!) NEW this year is our HONK! Junior Program, which will support
    the next generation of HONKers! And the BELL OF THE BALL: HONK! Fest West, the
    free annual festival that we all know and love, returning on June 2nd - 4th to
    Georgetown, Columbia City and Yesler Terrace. None this amazing programming is
    possible without YOUR support!
  </p>
  <br />
  <p>
    Support HONK! Festival West during #GivingTuesday and make a donation on (or
    before!) November 29th at
    <a href="https://www.wagives.org/organization/honk-fest-west">
      https://www.wagives.org/organization/honk-fest-west
    </a>. We are grateful for your support!
  </p>
  <br />
</div>
