---
import { Image } from '@astrojs/image/components';
import Title from '@components/Title.astro';
---

<div class="flex-none md:pr-6 mb-3 md:mb-0 z-10">
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2022/honkano-v4_yTvN2doPw.png?ik-sdk-version=javascript-1.4.3&updatedAt=1652418210532"
    alt="OH NO! HONKANO - a marching band forming a pyramid while skiing on a wave with a volcano in the background"
    width="260"
    height="402"
    class="h-auto mx-auto"
  />
</div>
<div class="z-10">
  <Title title="HONKANO!" subtitle="June 2nd, Thursday" />
  <p>
    OH NO! It's a HONKano! This will be a 21+ event. A kick-off party/fundraiser
    for the 14th annual HONK! Fest West!
  </p>
  <br />
  <p>
    Come toot your whistle at the Ballard Odd Fellows. We'll have a bar and some
    bands will play, it's gonna be great. It's in Ballard!
  </p>
  <br />
  <p>
    When: <a href="/assets/ical/honkano2022.ics">June 2nd, Doors at 7PM</a>
    <br />
    Where: <a href="https://goo.gl/maps/NhJDxAJELsbANxF56"
      >Ballard Odd Fellows</a
    >
    <br />
    <a href="https://fb.me/e/1Uo9pDz4E">Facebook Event</a>
  </p>
</div>
