---
import { Image } from "astro:assets";
import Title from "@components/Title.astro";
---

<div class="flex-none md:pr-6 mb-3 md:mb-0 z-10">
  <Image
    src="https://ik.imagekit.io/thegoldendino/hfw/2023/Events/mardi-gras-fundraiser-2023_y-fFuSPD3.png?ik-sdk-version=javascript-1.4.3&updatedAt=1674435215464"
    alt="Mardi Gras Fundraiser 2023"
    width="260"
    height="402"
    class="h-auto mx-auto"
    format="png"
  />
</div>
<div class="z-10">
  <Title title="Mardi Gras Brass Band Blow Out" subtitle="Feb, 17th Friday" />
  <p>
    Come party with us at the HONK! Mardi Gras Brass Band Blow Out at Jules Maes
    in Georgetown.
  </p>
  <br />
  <p>
    When: Feb 17th, 7pm
    <br />
    Where: <a href="https://goo.gl/maps/kWmg8BP1XocxUVow6">Jules Maes Saloon</a>
  </p>
</div>
