---
import { Image } from 'astro:assets';

interface Props {
  photos: Array<{ image_url: string; name: string }>;
}

const { photos } = Astro.props;
---

<h2
  class="text-3xl sm:text-4xl text-gray-300 text-center tracking-wide mb-8 font-bold bg-accent"
>
  YOUR
  <span class="text-accent-lt bg-black px-2">HONK! FEST WEST</span>
  COMMITTEE
</h2>
<div class="flex flex-wrap justify-around gap-6">
  {
    photos.map((member: { image_url: string; name: string }) => (
      <div class="flex flex-col items-center">
        <Image
          class="rounded-full h-32 w-auto mb-2 border-[.5rem] border-accent-lt"
          src={member.image_url}
          alt={member.name}
          inferSize
        />
        <p class="content text-center ">
          <span class="text-shadow text-gray-300 text-xl font-black">
            {member.name}
          </span>
        </p>
      </div>
    ))
  }
</div>

<style>
  .text-shadow {
    text-shadow:
      -1px -1px 3px var(--colors-accent),
      1px -1px 3px var(--colors-accent),
      -1px 1px 3px var(--colors-accent),
      1px 1px 3px var(--colors-accent);
  }
</style>
