---
const { href } = Astro.props;
---
<a class="text-shadow block bg-accent rounded text-xl text-gray-200 mb-5 last:mb-0 font-base font-bold py-2 px-4 cursor-pointer hover:scale-105 hover:bg-accent transition ease-in-out" 
href="#mission"><slot/></a>