<div class="fixed w-full h-full object-fill">
  <svg
    viewBox="4400 5100 3500 3500"
    height="100%"
    width="100%"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
    ><g
      ><path
        d="M6362.26,4942.41l-1567.47,671.306l716.465,1670.89l1574.48,-668.691l-723.473,-1673.5Zm-7.885,19.801l706.163,1640.57c0,0 -1539.39,662.609 -1539.39,662.609c-64.999,-151.008 -641.163,-1489.56 -706.162,-1640.57l1539.38,-662.609Z"
        style="fill:#0078cd;"></path><path
        d="M6480.87,4714.51l-1903.65,810.956l830.102,1983.79l1910.66,-808.341l-837.111,-1986.41Zm-7.884,19.801l819.8,1953.48c-0,0 -1875.57,802.259 -1875.57,802.259c-64.999,-151.008 -754.8,-1802.47 -819.8,-1953.48l1875.57,-802.259Z"
        style="fill:#0078cd;"></path><path
        d="M6594.93,4433.37l-2268.2,966.765l968.138,2349.35l2275.21,-964.151l-975.146,-2351.96Zm-7.885,19.801l957.836,2319.03c-0,0 -2240.12,958.068 -2240.12,958.068c-64.999,-151.008 -892.836,-2168.02 -957.835,-2319.03l2240.12,-958.068Z"
        style="fill:#0078cd;"></path><path
        d="M6706.14,4177.97l-2622.86,1118.22l1104.07,2695.3l2629.86,-1115.61l-1111.08,-2697.92Zm-7.884,19.801l1093.77,2664.98c-0,-0 -2594.77,1109.53 -2594.77,1109.53c-64.999,-151.008 -1028.77,-2513.98 -1093.77,-2664.98l2594.77,-1109.53Z"
        style="fill:#0078cd;"></path><path
        d="M6813.81,3898.4l-2987.42,1274.01l1266.04,3090.89l2994.43,-1271.39l-1273.05,-3093.5Zm-7.885,19.802l1255.74,3060.57c0,0 -2959.34,1265.31 -2959.34,1265.31c-65,-151.008 -1190.74,-2909.56 -1255.74,-3060.57l2959.34,-1265.31Z"
        style="fill:#0078cd;"></path><path
        d="M6948.7,3644.67l-3405.93,1440.69l1428.12,3480.65l3408.71,-1448.42l-1430.9,-3472.93Zm-7.884,19.801l1413.59,3439.99c-0,-0 -3373.62,1442.34 -3373.62,1442.34c-64.999,-151.008 -1352.82,-3299.32 -1417.82,-3450.33l3377.84,-1432Z"
        style="fill:#0078cd;"></path><path
        d="M7106.99,3326.12l-3899.13,1623.46l1611.29,3954.41l3909.2,-1628.12l-1621.35,-3949.74Zm-7.884,19.802l1604.04,3916.81c-0,0 -3874.1,1622.04 -3874.1,1622.04c-64.999,-151.008 -1535.99,-3773.08 -1600.99,-3924.09l3871.05,-1614.76Z"
        style="fill:#0078cd;"></path><path
        d="M7291.19,2950.98l-4426.17,1851.85l1804.35,4484.48l4436.24,-1856.52l-1814.42,-4479.82Zm-7.884,19.801l1797.11,4446.88c-0,0 -4401.14,1850.44 -4401.14,1850.44c-65,-151.007 -1729.05,-4303.16 -1794.05,-4454.16l4398.09,-1843.16Z"
        style="fill:#0078cd;"></path><path
        d="M7466.99,2533.3l-4974.58,2095.67l2045.72,5046.56l4984.64,-2100.33l-2055.78,-5041.89Zm-7.884,19.801l2038.47,5008.96c0,0 -4949.55,2094.25 -4949.55,2094.25c-64.999,-151.008 -1970.42,-4865.23 -2035.41,-5016.24l4946.49,-2086.97Z"
        style="fill:#0078cd;"></path><path
        d="M7644.96,2097.91l-5580.9,2351.1l2295.06,5661.66l5592.2,-2356.33l-2306.35,-5656.42Zm-8.846,22.215l2286.93,5619.48c-0,0 -5552.82,2349.51 -5552.82,2349.51c-72.922,-169.413 -2210.58,-5458.23 -2283.5,-5627.65l5549.39,-2341.34Z"
        style="fill:#0078cd;"></path><path
        d="M7833.45,1636.79l-6223.07,2621.63l2559.14,6313.12l6235.67,-2627.46l-2571.73,-6307.28Zm-9.863,24.771l2550.08,6266.09c0,-0 -6191.76,2619.86 -6191.76,2619.86c-81.313,-188.907 -2464.94,-6086.29 -2546.26,-6275.19l6187.94,-2610.75Z"
        style="fill:#0078cd;"></path><path
        d="M8045.16,1118.88l-6944.34,2925.48l2855.75,7044.82l6958.39,-2931.99l-2869.8,-7038.31Zm-11.006,27.642l2845.64,6992.33c0,-0 -6909.4,2923.5 -6909.4,2923.5c-90.737,-210.802 -2750.63,-6791.7 -2841.37,-7002.5l6905.13,-2913.34Z"
        style="fill:#0078cd;"></path><path
        d="M8268.42,572.678l-7704.99,3245.92l3168.56,7816.48l7720.58,-3253.15l-3184.15,-7809.25Zm-12.212,30.669l3157.34,7758.24c0,0 -7666.22,3243.73 -7666.22,3243.73c-100.676,-233.892 -3051.93,-7535.63 -3152.6,-7769.52l7661.49,-3232.45Z"
        style="fill:#0078cd;"></path><path
        d="M8502.51,0l-8502.51,3581.9l3496.53,8625.54l8519.72,-3589.88l-3513.73,-8617.57Zm-13.476,33.844l3484.14,8561.28c-0,0 -8459.74,3579.48 -8459.74,3579.48c-111.096,-258.101 -3367.82,-8315.62 -3478.92,-8573.73l8454.51,-3567.03Z"
        style="fill:#0078cd;"></path><path
        d="M6294.81,5123.03l-1313.66,566.917l602.256,1398.38l1313.88,-567.545l-602.476,-1397.75Zm-7.473,18.82l592.176,1372.19c0,0 -1151.02,496.729 -1287.37,555.57c-0,0 -592.176,-1372.19 -592.176,-1372.19l1287.37,-555.57Z"
        style="fill:#0078cd;"></path><path
        d="M6254.97,5267.96l-1136.5,482.97l514.156,1209.89l1136.5,-482.971l-514.156,-1209.89Zm-7.43,18.411l503.174,1184.05c0,-0 -985.921,418.979 -1110.66,471.989c-0,0 -503.175,-1184.05 -503.175,-1184.05l1110.66,-471.989Z"
        style="fill:#0078cd;"></path><path
        d="M6215.12,5376.34l-990.978,421.128l448.321,1054.96l990.977,-421.128l-448.32,-1054.96Zm-7.43,18.411c-0,0 386.515,909.527 437.338,1029.12c-107.86,45.837 -857.275,364.31 -965.136,410.147c0,-0 -437.338,-1029.12 -437.338,-1029.12c-0,-0 965.136,-410.147 965.136,-410.147l-0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6186.6,5453.94l-886.792,376.853l401.186,944.051l886.792,-376.853l-401.186,-944.051Zm-7.43,18.411l390.205,918.21c-100.812,42.842 -760.139,323.031 -860.951,365.872c0,-0 -390.204,-918.21 -390.204,-918.21c-0,-0 860.95,-365.872 860.95,-365.872l-0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6163.37,5517.11l-801.97,340.807l362.813,853.753l801.969,-340.807l-362.812,-853.753Zm-7.43,18.412l351.831,827.911c0,0 -776.129,329.826 -776.129,329.826c0,-0 -351.831,-827.912 -351.831,-827.912c0,0 776.129,-329.825 776.129,-329.825l-0,-0Z"
        style="fill:#0078cd;"></path><path
        d="M6148.31,5581.02l-730.44,310.409l330.453,777.604l730.439,-310.409l-330.452,-777.604Zm-7.43,18.412c-0,-0 276.812,651.38 319.471,751.762c-89.408,37.995 -615.191,261.433 -704.599,299.428c0,-0 -276.812,-651.38 -319.47,-751.763c-0,0 704.598,-299.427 704.598,-299.427l-0,-0Z"
        style="fill:#0078cd;"></path><path
        d="M6135.81,5637.96l-668.275,283.992l302.329,711.424l668.275,-283.991l-302.329,-711.425Zm-7.43,18.412l291.347,685.583c0,0 -642.433,273.01 -642.433,273.01c-37.371,-87.94 -253.976,-597.643 -291.347,-685.583l642.433,-273.01Z"
        style="fill:#0078cd;"></path><path
        d="M6124.74,5691l-611.338,259.796l276.57,650.811l611.338,-259.795l-276.57,-650.812Zm-7.43,18.412l265.589,624.97c-0,-0 -498.361,211.785 -585.497,248.814c0,-0 -265.588,-624.97 -265.588,-624.97c-0,-0 585.496,-248.814 585.496,-248.814l-0,-0Z"
        style="fill:#0078cd;"></path><path
        d="M6115.78,5738.31l-562.1,238.871l254.295,598.394l562.1,-238.871l-254.295,-598.394Zm-7.43,18.411l243.313,572.553c0,0 -536.258,227.89 -536.258,227.89c-0,-0 -206.754,-486.523 -243.314,-572.553l536.259,-227.89Z"
        style="fill:#0078cd;"></path><path
        d="M6109.99,5796.66l-510.276,216.848l230.85,543.224l510.276,-216.848l-230.85,-543.224Zm-7.43,18.411l219.869,517.383c-0,-0 -484.435,205.866 -484.435,205.866c0,0 -185.37,-436.203 -219.868,-517.382c-0,-0 484.434,-205.867 484.434,-205.867l0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6107.69,5852.07l-466.496,198.243l211.044,496.618l466.496,-198.243l-211.044,-496.618Zm-7.43,18.412c0,-0 167.391,393.896 200.063,470.776c-0,-0 -440.655,187.262 -440.655,187.262c-0,-0 -200.062,-470.777 -200.062,-470.777c66.933,-28.444 373.721,-158.817 440.654,-187.261l0,-0Z"
        style="fill:#0078cd;"></path><path
        d="M6105.26,5907.81l-422.256,179.443l191.029,449.522l422.257,-179.443l-191.03,-449.522Zm-7.43,18.412l180.049,423.68c-0,-0 -326.849,138.898 -396.416,168.461c0,0 -180.048,-423.68 -180.048,-423.68l396.415,-168.461Z"
        style="fill:#0078cd;"></path><path
        d="M6107.3,5971.09l-380.143,161.546l171.977,404.689l380.143,-161.547l-171.977,-404.688Zm-7.43,18.411l160.995,378.847c0.001,0 -289.175,122.889 -354.301,150.565c-25.84,-60.805 -135.156,-318.042 -160.996,-378.847l354.302,-150.565Z"
        style="fill:#0078cd;"></path><path
        d="M6104.65,6020.89l-339.81,144.406l153.73,361.752l339.81,-144.407l-153.73,-361.751Zm-7.43,18.411l142.749,335.91c-0,0 -313.969,133.425 -313.969,133.425c0,0 -142.749,-335.91 -142.749,-335.91l313.969,-133.425Z"
        style="fill:#0078cd;"></path><path
        d="M6098.3,6054.55l-304.821,129.537l137.902,324.503l304.82,-129.538l-137.901,-324.502Zm-7.43,18.411l126.92,298.661c-0,0 -222.486,94.548 -278.979,118.556c-0,0 -101.912,-239.814 -126.92,-298.661c-0,-0 278.979,-118.556 278.979,-118.556l-0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6098.22,6103.91l-269.153,114.379l121.765,286.532l269.153,-114.38l-121.765,-286.531Zm-7.43,18.411l110.784,260.691c-0,-0 -243.312,103.398 -243.312,103.398c0,-0 -110.783,-260.691 -110.783,-260.691c-0,0 243.311,-103.398 243.311,-103.398l0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6097.14,6146.17l-236.887,100.668l107.168,252.182l236.887,-100.668l-107.168,-252.182Zm-7.43,18.411c18.404,43.308 77.782,183.034 96.186,226.341c0,0 -211.045,89.687 -211.045,89.687c-0,-0 -96.186,-226.341 -96.186,-226.341c-0,-0 211.045,-89.687 211.045,-89.687l-0,0Z"
        style="fill:#0078cd;"></path><path
        d="M6094.76,6185.4l-204.621,86.956l92.571,217.832l204.621,-86.956l-92.571,-217.832Z"
        style="fill:#0078cd;"></path><path
        d="M6094.76,6185.4l-204.621,86.956l92.571,217.832l204.621,-86.956l-92.571,-217.832Zm-45.395,112.489l25.477,59.949c-0,-0 -46.737,19.861 -46.737,19.861c-0.001,0 -25.477,-59.949 -25.477,-59.949l46.737,-19.861Z"
        style="fill:#0078cd;"></path>
    </g>
  </svg>
  <!-- <Image
    alt="background"
    src="https://ik.imagekit.io/thegoldendino/hfw/2023/tunnel-bg_2492Q1OwY.png?ik-sdk-version=javascript-1.4.3&updatedAt=1668291708192"
    width="1000"
    class="h-screen w-screen object-cover"
    format="png"
  /> -->
</div>
