---
import { Image } from '@astrojs/image/components';
---

<div class="fixed min-width-screen min-height-screen">
  <Image
    alt="background"
    src="https://ik.imagekit.io/thegoldendino/hfw/2023/tunnel-bg_2492Q1OwY.png?ik-sdk-version=javascript-1.4.3&updatedAt=1668291708192"
    aspectRatio="1922:1081"
    width="1000"
    class="h-screen w-screen object-cover"
    format="png"
  />
</div>
