<a
  href="#back-to-top"
  class="text-shadow z-30 absolute top-2 sm:top-4 right-3 sm:right-5 text-content_btt font-semibold opacity-70 hover:opacity-100 flex items-center text-xs sm:text-sm transition ease-in"
  ><span>&#9650;</span>&nbsp;<span>top</span>
</a>
