---
import SocialLinks from '@components/SocialLinks'

import sponsors from '@data/sponsors.json'
import navigation from '@data/navigation.json';

const golden_dino = true;
---

<div class="footer-inner">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-4 text-center">
        <h3 class="ft-fml-2 ft-clr-3">Media Sponsor</h3>
        <a href="{ sponsors.kuow.link }" target="_blank">
          <img
            src="{ sponsors.kuow.image }"
            alt="{ sponsors.kuow.name }"
            style="height: 80px"
          />
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{ sponsors.shunpike.link }" target="_blank">
          <img
            src="{ sponsors.shunpike.image }"
            alt="{ sponsors.shunpike.name }"
            class="rounded mx-auto d-block"
            style="padding: 10px; height: 80px; background-color: #f4efdf"
          />
        </a>
        <p>
          HONK! Fest West is fiscally sponsored by Shunpike.<br />
          <b>About Shunpike</b><br />
          Shunpike is the 501(c)(3) non-profit agency that provides independent
          arts groups in Washington State with the services, resources, and
          opportunities they need to forge their own paths to sustainable
          success.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="ft-fml-2 ft-clr-3">Sponsors</h3>
        <div class="d-flex justify-content-around">
          <a href="{ sponsors.neighborhoods.link }" target="_blank">
            <img
              src="{ sponsors.neighborhoods.image }"
              alt="{ sponsors.neighborhoods.name }"
              class="mx-auto d-block rounded"
              style="
                padding: 2px;
                margin: 5px;
                height: 90px;
                background-color: white;
              "
            />
          </a>
        </div>
        <div class="sponsors d-flex flex-wrap justify-content-around">
			{sponsors.arts.map((sponsor) => (
          <a href="{ sponsor.link }" target="_blank" class="rounded">
            <img
              src="{ sponsor.image }"
              alt="{ sponsor.name }"
              class="rounded"
            />
          </a>

			))}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dino-track">
  <div class="container py-3 bottom-nav">
    <div class="row">
      <div class="col-md-4 text-center">
        <a class="clr-home" href="{ '/' }"
          >© 2021 HONK! Fest West</a
        >
        <a
          href="https://thegoldendino.com/"
          id="golden-dino"
          class={ golden_dino ? 'active' : '' }
        ></a>
      </div>
      <div class="col-md-4 text-center">
        <ul class="nav justify-content-around">
          {Object.keys(navigation.social).map((item) => (
            <li>
              <SocialLinks link={item}/>
            </li>
          ))}
        </ul>
      </div>
      <div class="col-md-4 text-center"><a href="#">Back to top</a></div>
    </div>
  </div>
</div>
