---
import { Image } from 'astro:assets';
import logoImg from '@assets/images/2025/hfw-2025-logo.png';
import { getCollection } from 'astro:content';
import NavButton from './NavButton.astro';

const nav = await getCollection('nav');
---

<div class="grid place-content-center p-4 sm:p-8 sm:pb-16">
	<a href="/">
		<Image
			src={logoImg}
			alt="HONK! Fest West 2025"
			loading="eager"
		/>
	</a>
	<nav class="w-full relative">
		<ul class="flex flex-wrap justify-center items-center w-full group relative lg:absolute top-8">
			{nav.map(link => (
					<NavButton href={link.data.link}>{link.data.name}</NavButton>
			))}
		</ul>
	</nav>
</div> 