---
import SocialLinks from '@components/SocialLinks'

import navigation from '@data/navigation.json';
---

<div class="flex justify-center">
	<a class="block mx-auto mb-4 mt-8 w-4/5 md:w-1/3" href="/">
		<img
			class="w-full h-full"
			src="https://ik.imagekit.io/thegoldendino/hfw/festival/2021/logo-2021_nVNOHonr9.svg?updatedAt=1628273241588"
			alt="HONK! Fest West"
		/>
	</a>
</div>
<nav>
	<ul class="flex justify-center items-center">
		{navigation.main.map((item) => (
			<li class="nav-item">
				<a
					class="nav-link ft-fml-1 {Astro.request.url == item.link ? 'active' : ''}"
					href={ item.link }
				>{ item.name }</a>
				<span class="nav-bullet">&#8226;</span>
			</li>
		))}
		{Object.keys(navigation.social).map((item) => (
			<li>
				<SocialLinks link={item}/>
			</li>
		))}
	</ul>
</nav>