---
import SocialLinks from '$components/SocialLinks.astro'
import Image from '$components/Image.astro'
import navigation from '@data/navigation.json'

const activeLink = (link) => {
	return Astro.request.url.pathname === link ? 'text-accent-color' : ''	
}
---

<!-- H!FW LOGO -->
<div class="flex justify-center mt-6 sm:mt-12 mb-4 sm:mb-8 w-full">
	<a class="block mx-auto w-4/5 sm:w-2/3 lg:w-2/5" href="/">
		<Image
			className="w-full h-full"
			src="https://ik.imagekit.io/thegoldendino/hfw/festival/2021/hfw-logo-2021_hNpZhGf683y.png?updatedAt=1628895819192"
			alt="HONK! Fest West"
			width="557"
			raw={true}
		/>
	</a>
</div>

<nav class="w-full pb-4">
	<ul class="flex flex-wrap justify-center items-center w-full">

		<!-- MAIN NAV -->
		{navigation.main.map((item) => (
			<li class="text-2xl sm:text-3xl text-main-color-100 font-title flex items-center my-2">
				<a
					class={`mx-4 sm:mx-2 block ${activeLink(item.link)}`}
					href={ item.link }

				>{ item.name }</a>

				<span class="mx-2 hidden sm:block h-9">&#8226;</span>
			</li>
		))}

		<!-- SOCIAL NAV -->
		<li class="text-2xl text-main-color-100 ml-2 my-2 flex">
			{Object.keys(navigation.social).map((item) => (
				<div>
					<div class="hidden sm:block px-1 h-9">
						<SocialLinks link={item} size="1.875rem" />
					</div>
					<div class="block sm:hidden px-1 h-7">
						<SocialLinks link={item} size="1.5rem" />
					</div>
				</div>
			))}
		</li>
	</ul>
</nav>