---
import { Markdown } from 'astro/components'
const {title="", href="#"} = Astro.props
---

<div class="flex flex-col justify-between h-full">
	<h1 class="title text-center text-title-primary-color flex-none">
		{title}
	</h1>
	<p class="font-base antialiased text-gray-700 leading-7 text-lg flex-1">
		<slot/>
	</p>
	<a class="block font-base antialiased text-lg text-accent-color font-bold flex-none mt-3" href={href}>
		» Read More
	</a>
</div>