---
import { Markdown } from 'astro/components'
import Title from '@components/Title'

const {title="", href="#"} = Astro.props
---

<div class="flex flex-col justify-between h-full">
	<Title title={title} classes="text-center"/>
	<p class="content flex-1">
		<slot/>
	</p>
	<a class="block font-base antialiased text-base sm:text-lg text-accent-color font-bold flex-none mt-3" href={href}>
		» Read More
	</a>
</div>