---
import { notion, format_rich } from '@lib/notion';

const { page_id } = Astro.props;

const blocks = await notion.blocks
  .retrieve({
    block_id: `${page_id}/children`,
  })
  .then((res) => res.results.reduce(block_item, []).join('<br/>'));

function block_item(content, block) {
  if (block?.paragraph?.rich_text && block.paragraph.rich_text.length > 0) {
    const markdown = format_rich(block.paragraph.rich_text);
    return [...content, markdown];
  } else {
    return [...content];
  }
}
---

<div class="content" set:html={blocks}></div>
