---
const {
  title = '',
  subtitle = false,
  center = false,
  id = '',
  border = true,
} = Astro.props;

const _id = id.length ? id : title;
---

<h2
  id={_id}
  class={`title  ${center ? 'justify-center' : ''} ${
    border ? 'border-b-4' : ''
  }`}
>
  <span
    class={`text-content_title  ${center && subtitle ? 'ml-3' : ''} ${
      subtitle ? 'mr-3' : ''
    } block ${center ? 'text-center' : ''}`}
  >
    {title}
  </span>
  <span
    class={`text-accent block ${center && subtitle ? 'ml-3' : ''} ${
      subtitle ? 'mr-3' : ''
    } ${center ? 'text-center' : ''}`}
  >
    {subtitle}
  </span>
</h2>
