---
const {title="", subtitle=false, center=false, id=""} = Astro.props;

const _id = id.length ? id : title
---

<style>
	.title {
		@apply flex flex-wrap text-2xl sm:text-3xl font-title border-b-4  border-main-color-700 border-opacity-100 border-dotted mb-4 pb-1;
	}
</style>


<h2 id={_id} class={`title ${center ? 'justify-center': ''}`}>
	<span class={`text-main-color-300  ${center && subtitle ? 'ml-3': ''} ${subtitle ? 'mr-3' : ''} block ${center ? 'text-center' : ''}`}>
		{title}
	</span>
	<span class={`text-title-primary-color block ${center && subtitle ? 'ml-3': ''} ${subtitle ? 'mr-3' : ''} ${center ? 'text-center' : ''}`}>
		{subtitle}
	</span>
</h2>