---
const {title="", subtitle="", classes=""} = Astro.props;
---

<h2 class={`title ${classes}`}>
	<span class="text-title-primary-color pr-3">
		{title}
	</span>
	<span class="text-gray-500">
		{subtitle}
	</span>
</h2>