---
const { media } = Astro.props

const years = Object.keys(media).sort().reverse();
---

<div class="content">
  {
    years.map((year) => (
      <div class="flex mb-5">
        <div class="text-xl w-20">{year}</div>
        <div>
          <ul>
            {media[year].map((item) => (
              <li>
                <a href={item.url} target="_blank" rel="noopener noreferrer">
                  {item.name}
                </a>
                <span>({item.type})</span>
              </li>
            ))}
          </ul>
        </div>
      </div>
    ))
  }
</div>
