---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Thank You!">
  <div class="content-container">
    <div class="content">
      <div class="text-6xl font-emphasis text-accent-color text-center mb-5">
        THANK YOU!
      </div>
      <p>
        Your contributions help make this event possible. Through the generous
        efforts of our shared community, we’ll keep bringing music to the
        streets and parks of Seattle’s neighborhoods.
      </p>
    </div>
  </div>
</Layout>
