---
import Head from '$components/base-head/BaseHead.astro'
import Header from '$components/Header.astro'
import Footer from '$components/Footer.astro'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

  <!-- HEAD -->
  <head>
    <Head title={title}>   
      <slot name="head" />
    </Head>
  </head>

  <body class="min-h-full n">

    <!-- BACKGROUND IMAGE -->
    <div class="w-full h-full fixed top-0 left-0">
	    <div class="bg-main-color w-full h-full fixed top-0 left-0"></div>
      <div class="bg-site opacity-30 w-full h-full fixed top-0 left-0"></div>
    </div>

    <div class="w-full h-full absolute top-0 left-0 flex flex-col justify-between">
      <!-- HEADER -->
      <header class="gradient-radial-background w-full px-6 max-w-screen-xl w-full mx-auto px-3 sm:px-6">
        <Header />
      </header>

      <!-- MAIN -->
      <main class="gradient-edge-background max-w-screen-xl pb-6 sm:pb-10 px-3 sm:px-6 w-full mx-auto">
        <slot />
      </main>

      <!-- FOOTER -->
      <footer class="mt-auto w-full">
        <Footer />
      </footer>
    </div>
  </body>

</html>
