---
import BaseLayout from '@layouts/BaseLayout.astro';
import Title from '@components/Title.astro';
import BackToTop from '@components/BackToTop.astro';
import PhotosVideo from '@components/media/PhotosVideo.astro';
import Articles from '@components/media/Articles.astro';
import MarkdownContent from '@components/MarkdownContent.astro';
import { rawContent as articles } from './_articles.md';
import media from './_media.toml';
---

<BaseLayout title="Media">
  <section class="content-container mb-4 sm:mb-6">
    <BackToTop />
    <Title title="Photos & Video" />
    <PhotosVideo media={media} />
  </section>

  <section class="content-container mb-4 sm:mb-6">
    <BackToTop />
    <Title title="Articles" />
    <MarkdownContent md={articles()} />
  </section>
</BaseLayout>
